<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Lista de visitas diárias</h4>
                    <p class="category"></p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of receitaCollum">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of visitas">
                                <td>{{item.nome}}</td>
                                <td>{{item.telefone}}</td>
                                <td>{{item.data | date: 'dd/MM/yyyy'}}</td>
                                <td>{{item.consultor}}</td>
                                <td>{{item.tipoVisita}}</td>
                                <td>{{item.tipoClient}}</td>
                                <td>{{item.statusVisita}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>